body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  appearance: none;
  outline: none;
  cursor: pointer;
  border: 1px solid black;
  background-color: transparent;
}

#new-game {
  margin-bottom: 20px;
  padding: 8px 28px;
  border-radius: 4px;
}

#new-game:hover,
#randomize:hover {
  background-color: black;
  color: white;
}

.boards {
  flex: 1;
  display: flex;
  gap: 48px;

  h2 {
    margin-bottom: 4px;
  }
}

#randomize {
  border-width: 1px;
  margin-top: 12px;
  padding: 8px 14px;
  border-radius: 4px;
  font-size: 14px;
}

#player-one-board,
#player-two-board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  border: 2px solid black;

  button {
    height: 30px;
    width: 30px;
  }

  .ship-5 {
    background-color: blue;
  }

  .ship-4 {
    background-color: rgb(0, 119, 255);
  }

  .ship-3 {
    background-color: rgb(0, 204, 255);
  }

  .ship-2 {
    background-color: rgb(0, 255, 115);
  }

  .miss {
    background-color: darkslategrey;
  }

  .hit {
    background-color: red;
  }
}

.active {
	transform-origin: top;
  animation: scale 1.5s both;
}

@keyframes scale {
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.03);
  }
}

#player-one-board button {
  cursor: default;
}

#player-two-board button:hover {
  background-color: #c3c3c3;
}
